.container {
  width: 85%;
  margin: 30px auto;
  padding: 20px 20px 0px 20px;
  background-color: #e5dc96;
  border-radius: 11px;
  border: 2px solid rgb(210, 18, 18);
  color: #111111;
  box-shadow: 15px 15px 15px rgba(233, 168, 71, 0.699);
}

.container .selection_container {
  width: 100%;
}

.select_movie_component {
  flex-grow: 1;
}

.BN-btn {
  padding: 10px;
  border: none;
  margin-top: 20px;
  left: 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 25px;
  color: rgb(0, 0, 0);
  font-family: cursive;
  background-image: linear-gradient(rgb(151, 199, 181), rgb(185, 215, 198));
  border-image: linear-gradient(rgb(183, 189, 230), rgb(184, 223, 200));
  position: relative;
  padding-bottom: 10px;
}

.BN-btn:hover {
  background-image: linear-gradient(rgb(71, 163, 234), rgb(71, 163, 234));
  color: #f7f1f1;
}

.wrapper {
  display: flex;
  flex-grow: 0;
  overflow: visible;
}

.time_seats_container {
  position: relative;
  overflow: auto;
  top: -10px;
}

.SS_wrapper {
  margin-top: 50px;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .time_seats_container {
    top: 0px;
  }

  .last_booking_details_container {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 95%;
    padding: 15px;
  }
}